@media(max-width: 620px){
  .slider{
    padding: 0 15px;
    gap: 10px;
  }

  .btn-arrow{
    width: 20px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pokemon-list{
    height: 480px;
  }

  .card .poke-image{
    max-height: 230px;
  }

  .card .head-card .name{
    max-width: 50%;
    font-size: 18px;
  }
}